.navbar .navbar-brand, 
.navbar .nav-link {
  color: whitesmoke;
}

.navbar .nav-link.active {
  color: whitesmoke;
}

a {
  line-height: 1.5;
  font-size: x-large;
}

hr {
  height: 10px;
  width: auto;
  color: black;
}

.btn-primary{
  background: none;
  border: none;
}

@media screen {
  
}