body {
  background: linear-gradient(to right, #b2b2b2, #575757);
  height: 100vh;
}

.carousel{
  margin-bottom: 1rem;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: whitesmoke;
}

.navbar{
  margin-bottom: 2rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .nav-link.active {
  color: whitesmoke;
}

a {
  line-height: 1.5;
  font-size: large;
}

.btn-primary {
  background: none;
  border: none;
}

.koncert {
  color: black;
  margin-left: 1rem;
}

.card-mb-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  margin-bottom: 1rem;
}

.card :hover{
  transform: scale(10px);
}

hr{
  height: 5px;
  border-radius: 5px;}

iframe {
  margin-bottom: 4rem;
}  

.gallery img {
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.5);
}

.card{
  margin-bottom: 2rem;
}

.btn-primary{
  margin-bottom: 2rem;
}
.card-mb-3{
  margin-top: 2rem;
}